*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.freez {
  overflow: hidden;
}
.night-day {
  background-color: $grey;
  color: $white;

  a {
    color: $white;
  }
  p {
    color: $white;
  }
  h3, h2,li {
    color: $white;
  }
  .special::after,
  .process::before,
  .enterprise::before {
    opacity: 0.1;
  }
  .contents__item p  {
    color: $grey;
  }
  button {
    color: $white;
  }
  .header__btn {
    background-color: $white;
    color: $grey;
  }
  .header {
    background-color: $grey;

    &__burger {
      background-color: $grey;
    }

    &__burger-inner,
    &__burger::before,
    &__burger::after {
      background-color: $white;
    }
  }
  .contents__content {
    padding-left: 24px;
  }
  .price__item-title,
  .price__item-descreption,
  .price__pages__item {
    color: $grey;
  }
  .price__content-money,
  .price__content-dollar {
    color: $accent-color;
  }
  .price__content-month {
    color: #E0E0E0;
  }
  .clients__item-title {
    color: #737373;
  }
  .clients__content-title {
    color: $accent-color;
  }
  .clients__content-descreption {
    color: #252B42;
  }
  .cta__link {
    color: $accent-color;
  }
  .footer__link {
    color: $accent-color;
  }
}
main {
  flex-grow: 1;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}