.clients__container {
  padding-bottom: 157px;
  text-align: center;
}
.clients__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: $grey;
  margin: 0;
}
.clients__descreption {
  width: 537px;
  display: inline-block;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: $grey;
  margin: 0;
  padding-top: 8px;
}
.clients__list {
  @include flex;
  justify-content: center;
  @include reset-list;
  padding-top: 50px;
}
.clients__item {
  width: 327px;
  background: $white;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin-right: 64px;
  padding: 28px 0 24px 28px;
  text-align: left;

  &:last-child,
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.clients__star-list {
  @include flex;
  align-items: baseline;
  @include reset-list;
}
.clients__star-item {
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}
.clients__item-title {
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0;
  padding: 16px 0;
}
.clients__content {
  @include flex;
  align-items: center;
}
.clients__img {
  display: block;
}
.clients__content-designer {
  padding-left: 14px;
}
.clients__content-title {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $accent-color;
  margin: 0;
}
.clients__content-descreption {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0;
}
@media only screen and (max-width: $tablet) {
  .clients__container {
    padding-bottom: 130px;
  }
  .clients__list {
    padding-top: 32px;
  }
  .clients__item {
    margin-right: 35px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: $mobile) {
  .clients__container {
    padding-bottom: 100px;
  }
  .clients__descreption {
    width: 100%;
  }
  .clients__item {
    margin-right: 0;
  }
}